{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
			  
			<!-- start banner Area -->
			<section class="banner-area relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'home:home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'home:about' %}"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start feature Area -->
			<section class="feature-area pb-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Some text here</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Some text hereSome</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Some text hereSome</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End feature Area -->		

			<!-- Start info Area -->
			<section class="info-area pb-120">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 no-padding info-area-left">
							<img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 info-area-right">
							<h1>Who we are</h1>
							<p>hereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text here.</p>
							<br>
							<p>
								hereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text herehereSome text hereSome text 
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End info Area -->	

			<!-- Start course-mission Area -->
			
		


					    			
{% endblock body %}