{% extends 'base2.html' %}
{% load staticfiles %}
{% block body %}
<style>





@media only screen and (max-width: 768px) {
    #startpost{
        margin-top:20px;
    }
    .center_view{
    margin-top: -120px;
    }   
    .follow{
    	margin-left: 10px;
    }
    .hidden_mobile{
    display: none;
    }

   .fixed_div1{
   	display: none;
   }
    /* For mobile phones: */
/*.intro{font-size:14px;
}
#test_image{
	height: 170px;
}

#hidden_mobile{
	display: none;
}*/
}

@media only screen and (min-width: 768px) {
.hidden_desktop{
	display: none;
}
.follow{
	margin-left: 10px;
}
.center_view{
    margin-top: -30px;
}

	/*for desktop*/
/*	#hidden_desktop{
		display: none;
	}*/
#carousel_div{
	display: none;
}
.fixed_div1{
	height: 145px; width: 240px;position:fixed;left:0;
}	
.fixed_div2{
	height: 140px; width: 360px;position:fixed;margin-left: 882px;
}	
.center_view{
	position: relative; margin-left: 130px;
}

}
@media only screen and (min-width: 600px) {
    /* For tablets: */
/*#hidden_desktop{
		display: none;
	}
#hidden_mobile{
	display: block;
}*/
/*.fixed_div1{
	display: none;

}
.fixed_div2{
	display: none;
}

.center_view{
	width: 100%
}
*/

}

</style>

<div class="container">

<div class="row">

<div class="col-sm-3 fixed_div1" style="margin-bottom: 20px; margin-top: -30px;">
<div class="card" style="">
<div style="background-color: rgb(0, 151, 178); height: 60px; ">
	
</div>
    <img class="card-img-top mx-auto d-block" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:100px; margin-top: -50px; position: relative;">
    <div class="card-body">
      <center>
      <h5 class="card-title">Welcome Omonbude!</h5>
      <h6><a href=""> Add a photo</a></h6>
      </center>
      <hr>
      <p class="card-text">Anything can be here anything can be here</p>
<!--       <a href="#" class="btn btn-primary stretched-link">See Profile</a> -->
    </div>


  </div>

</div>






<div class="col-sm-8 center_view" style="">


<div class="card" id="startpost">
<!-- <div class="card-header">Header</div> -->
<div class="card-body" style="padding-top: 26px; padding-bottom: 26px;">
    <img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:30px; margin-left:-55px;">
Share your thinking or pictures <span class="float-right"><i class="fa fa-camera fa-lg"></i> &nbsp&nbsp&nbsp&nbsp <i class="fa fa-video-camera fa-lg"></i></span></div> 

</div> <br>


	<div class="card">
	<div class="card-header"><span class="pull-right"><h4>...</h4></span></div>
	<div class="card-body" style="padding-top: 26px; padding-bottom: 26px;">
	<img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:80px; padding-right: 20px;"> 

	<span class="">Omonbude Emmanuel</span><br>
	<i>3rd May, 2019</i>
	<br><br>
	<div class="">
	<span>Hi,am Omonbude Emmanuel, am new to this platform, am hoping to make new friends thanks</span>
	<img src="{% static 'home/images/friends.jpg'  %}" class="img-fluid"><br> <br>
	<a href=""><i class="fa fa-thumbs-up"></i></a> <a href="" style="color: red;"><i class="fa fa-heart"></i></a> <a href="" style="color: #e25822 "><i class="fa fa-angellist"></i></a> <img src="{% static 'home/images/applause.jpg' %}" style="width: 22px; height: 22px;">
	</div>  
	</div> <!-- class body -->

	<div class="card-footer"><i class="fa fa-thumbs-up fa-lg"></i> Like &nbsp&nbsp&nbsp <i class="fa fa-comments-o fa-lg"></i>  Comment  &nbsp&nbsp&nbsp <i class="fa fa-share fa-lg"></i> Share</div>
	</div> <br>


<div class="card">
	<div class="card-header"><span class="pull-right"><h4>...</h4></span></div>
	<div class="card-body" style="padding-top: 26px; padding-bottom: 26px;">
	<img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:80px; padding-right: 20px;"> 

	<span class="">Omonbude Emmanuel</span><br>
	<i>3rd May, 2019</i>
	<br><br>
	<div class="">
	<span>Hi,am Omonbude Emmanuel, am new to this platform, am hoping to make new friends thanks</span>
	<img src="{% static 'home/images/friends.jpg'  %}" class="img-fluid"><br> <br>
	<a href=""><i class="fa fa-thumbs-up"></i></a> <a href="" style="color: red;"><i class="fa fa-heart"></i></a>  <a href="" style="color: #e25822 "><i class="fa fa-angellist"></i></a> <img src="{% static 'home/images/applause.jpg' %}" style="width: 22px; height: 22px;">
	</div>  
	</div> <!-- class body -->

	<div class="card-footer"><i class="fa fa-thumbs-up fa-lg"></i> Like &nbsp&nbsp&nbsp <i class="fa fa-comments-o fa-lg"></i>  Comment  &nbsp&nbsp&nbsp <i class="fa fa-share fa-lg"></i> Share</div>
	</div> <br>


<div class="card">
	<div class="card-header"><span class="pull-right"><h4>...</h4></span></div>
	<div class="card-body" style="padding-top: 26px; padding-bottom: 26px;">
	<img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:80px; padding-right: 20px;"> 

	<span class="">Omonbude Emmanuel</span><br>
	<i>3rd May, 2019</i>
	<br><br>
	<div class="">
	<span>Hi,am Omonbude Emmanuel, am new to this platform, am hoping to make new friends thanks</span>

	<img src="{% static 'home/images/friends.jpg'  %}" class="img-fluid"><br> <br>
	<a href=""><i class="fa fa-thumbs-up"></i></a> <a href="" style="color: red;"><i class="fa fa-heart"></i></a>  <a href="" style="color: #e25822 "><i class="fa fa-angellist"></i></a> <img src="{% static 'home/images/applause.jpg' %}" style="width: 22px; height: 22px;">
	</div>  
	</div> <!-- class body -->

	<div class="card-footer"><i class="fa fa-thumbs-up fa-lg"></i> Like &nbsp&nbsp&nbsp <i class="fa fa-comments-o fa-lg"></i>  Comment  &nbsp&nbsp&nbsp <i class="fa fa-share fa-lg"></i> Share</div>
	</div> <br>


</div>
<div class="col-sm-4 fixed_div2" style="margin-top: -30px;">

<div class="card" style="">


    <div class="card-body">
      <center>
      <h5 class="card-title">Discover Members</h5>
      
      </center>
      <hr>
 <div>
 <img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:50px; padding-right: 20px;"> 
<span class="">Omonbude Emmanuel</span>   
<a href="" class="follow" style="border:1px solid rgb(73, 134, 200); border-radius: 20px; padding: 5px 12px 5px 12px; width: 60px;">Follow</a> <br>
Chorister at Christ Embassy <br>	 
	 
</div>
 <hr>

<div>
<img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:50px; padding-right: 20px;"> 
<span class="">Omonbude Emmanuel</span>   
<a href="" class="follow" style="border:1px solid rgb(73, 134, 200); border-radius: 20px; padding: 5px 12px 5px 12px; width: 60px;">Follow</a> <br>
Chorister at Christ Embassy <br>


</div> <hr>

<div>
<img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:50px; padding-right: 20px;"> 
<span class="">Omonbude Emmanuel</span>   
<a href="" class="follow" style="border:1px solid rgb(73, 134, 200); border-radius: 20px; padding: 5px 12px 5px 12px; width: 60px;">Follow</a> <br>
Chorister at Christ Embassy <br>
</div> <hr>

<div>
<img class="card-img-top mx-auto d-block pull-left mr-2 rounded-circle" src="{% static 'home/images/user.svg' %}" alt="Card image" style="width:50px; padding-right: 20px;"> 
<span class="">Omonbude Emmanuel</span>   
<a href="" class="follow" style="border:1px solid rgb(73, 134, 200); border-radius: 20px; padding: 5px 12px 5px 12px; width: 60px;">Follow</a> <br>
Chorister at Christ Embassy <br>
</div><hr>

</div> <!-- end card body -->


  </div>








</div> <!-- end div  col-md-3 -->


	
</div>	
</div>
{% endblock %}