{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-between">
						<div class="banner-content col-lg-9 col-md-12">
							<h1 class="text-uppercase">
								We answer your questions
								for a better world			
							</h1>
							<p class="pt-10 pb-10">
								Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
							</p>
							<a href="#" class="primary-btn text-uppercase">Get Started</a>
						</div>										
					</div>
				</div>					
			</section>
			<!-- End banner Area -->

			<!-- Start feature Area -->
			<section class="feature-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Some text here</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Some text here</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Some text here</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End feature Area -->
					
			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest posts from our Blog</h1>
								<!-- <p>In the history of modern astronomy there is.</p> -->
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">								
							</div>
							<p class="meta">05 May, 2019  |  By <a href="#">Omonbude Emmanuel</a></p>
							<a href="#">
								<h5>Some text here some text here</h5>
							</a>
							<p>
								Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their.
							</p>
							<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>		
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">								
							</div>
							<p class="meta">05 May, 2019  |  By <a href="#">Omonbude Emmanuel</a></p>
							<a href="blog-single.html">
								<h5>Some text here some text here</h5>
							</a>
							<p>
								Some text here some text hereSome text here some text hereSome text here some text hereSome text here some text here. 
							</p>
							<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>						
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">								
							</div>
							<p class="meta">05 May, 2019  |  By <a href="#">Omonbude Emmanuel</a></p>
							<a href="blog-single.html">
								<h5>Some text here some text here</h5>
							</a>
							<p>
								Some text here some text hereSome text here some text hereSome text here some text hereSome text here some text here.
							</p>
							<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="{% static 'img/b1.jpg' %}" alt="">								
							</div>
							<p class="meta">05 May, 2019 |  By <a href="#">Omonbude Emmanuel</a></p>
							<a href="blog-single.html">
								<h5>Some text here some text here</h5>
							</a>
							<p>
								Some text here some text hereSome text here some text hereSome text here some text hereSome text here some text here. 
							</p>
							<a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>							
						</div>							
					</div>
				</div>	
			</section>
			<!-- End blog Area -->

{% endblock %}