{% extends 'base2.html' %}
{% load staticfiles %}

{% block body %}




	<!-- Slider -->









<div class="container-fluid" >
<div class="row">
<div class="col-md-12">
	
	<!-- background-image: url('../static/home/images/bg.jpeg') -->

<div class="jumbotron" style="background-color: rgb(12, 18, 26); color: white; margin-top: -50px; height: 500px;" >
   <div class="page-header" style="margin-top: 100px;">
    <center><h2 style="color: white;"><b>Connecting the church</b></h2> </center>     
  </div>

  <center><p class="lead" style="color: white;">Nobelie is an online community that connects members from different churches.</p>
  <hr class="my-4">
   <p class="lead">
    <a class="btn btn-default btn-lg" style="background-color: rgb(246, 64, 96); color: white;" href="#" role="button">Join Now</a>
  </p>
  </center>
</div>

</div>
</div>
</div> <!-- container -->









<div class="container">

<div class="row">
	<div class="col text-center">
		<div class="section_title new_arrivals_title">
			<h4>You can use nobelie to</h4>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 40px; margin-bottom: 30px;">
				

						<!-- Product 1 -->

						<!-- Product 2 -->



<div class="card-deck">

<div class="card" style="" >
<img class="card-img-top img-fluid" src="{% static 'home/images/ministry5.jpg' %}" alt="Card image">
<div class="product_bubble product_bubble_left product_bubble_red d-flex flex-column align-items-center"><span>Ministries</span></div>
<div class="card-body">
<!-- <h4 class="card-title">John Doe</h4> -->
<p class="card-text">Search and follow ministries around</p> <br>
<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Join Nobelie</a>
</div>
</div>
<div class="card" style="" >
<img class="card-img-top img-fluid" src="{% static 'home/images/friends.jpg' %}" alt="Card image">
<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Friends</span></div>
<div class="card-body">
<!-- <h4 class="card-title">John Doe</h4> -->
<p class="card-text">Search and follow friends going to your church and other churches</p> 
<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Join Nobelie</a>
</div>
</div>
<div class="card" style="" >
<img class="card-img-top img-fluid" src="{% static 'home/images/question3.jpg' %}" alt="Card image">
<div class="product_bubble product_bubble_left product_bubble_red d-flex flex-column align-items-center"><span>Questions</span></div>
<div class="card-body">
<!-- <h4 class="card-title">John Doe</h4> -->
<p class="card-text">Ask pressing questions and get answers from other members</p> <br>
<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Join Nobelie</a>
</div>
</div>
<div class="card" style="" >
<img class="card-img-top img-fluid" src="{% static 'home/images/calendar7.jpg' %}" alt="Card image">
<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Events</span></div>
<div class="card-body">
<!-- <h4 class="card-title">John Doe</h4> -->
<p class="card-text">Find or add upcoming events</p> <br><br>
<a href="#" class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Join Nobelie</a>
</div>
</div>


</div>




						<!-- Product 3 -->


						




				
				</div>
			</div>








		
	</div>

			<div class="container-fluid">
				
			
			<div class="row">
			<div class="col-md-12">
				<div class="jumbotron" style="background-color: rgb(12, 18, 26); color: white;" >
	<!-- 			<div class="page-header" style="margin-top: 100px;">
				<center><h2 style="color: white;"><b>How Nobelie works</b></h2> </center>   <br>  
				</div> -->
				<div class="row">
					
				
				<div class="col-md-12 offset-md-1" ]>
					<h5 style="color: white;"> Join your colleagues, church members and friends on Nobelie.</h5>
		<!-- 			<p>
						See who’s hosting local events for all the things you love.
					</p> -->
					<p>
						<button class="btn btn-default" style="background-color: rgb(246, 64, 96); color: white;">Get Started</button>
					</p>
				</div>

<!-- 				<div class="col-md-6">
					<h3 style="color: white;"><i class="fa fa-plus fa-lg" style="color: rgb(0, 162, 199);"></i> &nbsp&nbsp&nbsp Start a new group</h3>
					<p>
						 Create your own Meetup group, and draw from a community of millions.
					</p>
					<p>
						<a href="#" style="font-size: 23px; color: rgb(0, 162, 199);">Join Nobelie</a>
					</p>

				</div> -->
				</div>

				</div>
			</div>
			</div>
			</div>

{% endblock %}





